body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  min-height: 100vh;
}

nav {
  height: 3rem;
  background-color: rgb(181, 226, 253) !important;
}

.nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.n-link{
  color: black;
  text-decoration: none;
  font-weight: bolder;
}

.navbar-brand{
  font-weight: bolder;
}

.present{
  height: 180px;
  width: 400px;
  background-color: rgb(155, 209, 242);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container1{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imagess{
  border-radius: 10px;
  height: 250px;
}

.container3{
  display: flex;
  flex-direction: column;
}

.container2{
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 250px);
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.pan-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.foot{
  background-color: rgb(181, 226, 253);
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.foot2{
  background-color: rgb(181, 226, 253);
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.contact{
  margin-left: 30px;
  margin-top: 30px;
}

.btn-link{
  text-decoration: none;
  color: white !important;
}

.btn-link2{
  text-decoration: none;
  color: black !important;
}

.formm{
  width: 400px;
  margin: 0 auto;
}

.btn-dark{
  margin-left: 70px;
}

.card:hover{
  transform: translateY(-5px);
}

.card{
  transition: transform 0.2s;
}

@media (max-width: 768px){
  .container1{
    display: flex;
    flex-direction: column;

  }

  .container2{
    display: grid;
    grid-template-columns: repeat(2,200px);
    flex-shrink: 1;
    gap: 1.5rem;
      padding: 1rem;
      width: 100%;


  }

  .card{
    flex-wrap: wrap;
  }
}